.btn {
	font-weight: 600;
}

a {
	color: #03A688;
}

.fa-check-circle {
	color: #168039;
	font-size: 84px !important;
	margin: 0 !important;
}

.submitbtn {
	border-radius: 5px;
	background-color: #03A688;
	color: white;
}

.submitbtn:hover {
	border-radius: 5px;
	background-color: #56C6C7;
	color: white;
}

.cancelbtn {
	border-radius: 5px;
	background-color: #787778;
	color: white;
	margin-right: 10px;
}

.submit-outline {
	border-radius: 5px;
	border: 2px solid #03A688;
	color: #03A688;
}

.submit-outline:hover {
	border-radius: 5px;
	background-color: #03A688;
	color: white;
}

.cancelbtn {
	border-radius: 5px;
	background-color: #787778;
	color: white;
	margin-right: 10px;
}

.cancelbtn:hover {
	border-radius: 5px;
	background-color: black;
	color: white;
	margin-right: 10px;
}

.cancel-outline {
	border-radius: 5px;
	border: 2px solid #787778;
	color: #787778;
}

.cancel-outline:hover {
	border-radius: 5px;
	background-color: #787778;
	color: white;
}

.alert {
	margin: 20px 0;
	border: none;
}

.alert-primary {
	background-color: #0477BF;
	color: white;
	border: none;
	border-radius: 5px;
}

.alert-secondary {
	background-color: #787778;
	color: white;
	border: none;
	border-radius: 5px;

}

.alert-success {
	background-color: #009877;
	color: white;
	border: none;
	border-radius: 5px;
}

.alert-success:hover {
	background-color: #56C6C7;
	color: white;
	border: none;
	border-radius: 5px;
}

.alert-danger {
	background-color: #CB2C30;
	color: white;
	border: none;
	border-radius: 5px;
}

.alert-danger:hover {
	background-color: #AA2C30;
	color: white;
	border: none;
	border-radius: 5px;
}

.alert-warning {
	background-color: #FFBF3F;
	color: white;
	border: none;
	border-radius: 5px;
}

.alert-warning:hover {
	background-color: #F28D52;
	color: white;
	border: none;
	border-radius: 5px;
}

.alert-info {
	background-color: #2F6073;
	color: white;
	border: none;
	border-radius: 5px;
}

.alert-info:hover {
	background-color: #5587A2;
	color: white;
	border: none;
	border-radius: 5px;
}

.alert-backup-1 {
	background-color: #575FF2;
	color: white;
	border: none;
	border-radius: 5px;
}

.alert-backup-1:hover {
	background-color: #6B8DF2;
	color: white;
	border: none;
	border-radius: 5px;
}

.alert-backup-2 {
	background-color: #D94141;
	color: white;
	border: none;
	border-radius: 5px;
}

.alert-backup-2:hover {
	background-color: #F28080;
	color: white;
	border: none;
	border-radius: 5px;
}

.alert-backup-3 {
	background-color: #BFCFDD;
	color: #1D3145;
	border: none;
	border-radius: 5px;
}

.alert-backup-3:hover {
	background-color: #1D3145;
	color: white;
	border: none;
	border-radius: 5px;
}

.alert-backup-4 {
	background-color: #212624;
	color: white;
	border: none;
	border-radius: 5px;
}

.alert-backup-4:hover {
	background-color: #888888;
	color: white;
	border: none;
	border-radius: 5px;
}

.alert-primary-outline {
	color: #0477BF;
	border: 2px solid #0477BF;
	border-radius: 5px;
}

.alert-secondary-outline {
	color: #787778;
	border: 2px solid #787778;
	border-radius: 5px;

}

.alert-success-outline {
	color: #009877;
	border: 2px solid #009877;
	border-radius: 5px;
}

.alert-success-outline:hover {
	background-color: #009877;
	color: white;
	border-radius: 5px;
}

.alert-danger-outline {
	color: #CB2C30;
	border: 2px solid #CB2C30;
	border-radius: 5px;
}

.alert-danger-outline:hover {
	background-color: #CB2C30;
	color: white;
	border-radius: 5px;
}


.alert-warning-outline {
	color: #FFBF3F;
	border: 2px solid #FFBF3F;
	border-radius: 5px;
}

.alert-warning-outline:hover {
	background-color: #FFBF3F;
	color: white;
	border-radius: 5px;
}

.alert-info-outline {
	color: #2F6073;
	border: 2px solid #2F6073;
	border-radius: 5px;
}

.alert-info-outline:hover {
	background-color: #2F6073;
	color: white;
	border-radius: 5px;
}

.alert-backup-1-outline {
	color: #575FF2;
	border: 2px solid #575FF2;
	border-radius: 5px;
}

.alert-backup-1-outline:hover {
	background-color: #575FF2;
	color: white;
	border-radius: 5px;
}

.alert-backup-2-outline {
	color: #D94141;
	border: 2px solid #D94141;
	border-radius: 5px;
}

.alert-backup-2-outline:hover {
	background-color: #D94141;
	color: white;
	border-radius: 5px;
}

.alert-backup-3-outline {
	color: #1D3145;
	border: 2px solid #1D3145;
	border-radius: 5px;
}

.alert-backup-3-outline:hover {
	background-color: #1D3145;
	color: white;
	border-radius: 5px;
}

.alert-backup-4-outline {
	color: #212624;
	border: 2px solid #212624;
	border-radius: 5px;
}

.alert-backup-4-outline:hover {
	background-color: #212624;
	color: white;
	border-radius: 5px;
}

.modal-body {
	text-align: center;
}

.solid-buttons {
	display: block;
}

.badge {
	font-family: 'Nunito', sans-serif;
}

.badge-secondary {
	background-color: #03A688
}

.disabledbtn {
	background-color: rgba(0,0,0,0.2);
	cursor: none;
}