html {
	height: 100%;
	margin: 0;
}

body {
	height: 100%;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
}

.body-width {
	width: 90%;
	margin: auto;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  color: white;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 90%;
    margin: 0 auto 0 auto;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.btn:focus {
	box-shadow: none;
}

.list-group-item, .list-group-item:hover {
	color: white;
}

a.bg-dark:hover {
	background-color: white;
}
.wrapper {
	min-height: 100%;
	margin-bottom: -50px;
}

.navbar {
	padding: 15px 0 0 0;
	margin-bottom: 35px;
}

.flexspacing {
display: flex;
justify-content: space-between;
}

.navbar-collapse {
flex-grow: 0
}

#user-icon {
	font-size: 36px;
	color: black;
}

.hero {
	background-color: rgba(0,0,0,0.1);
	border-radius: 10px;
	margin-top: 60px;
	padding: 20px;
}

.searchform {
	display: flex;
    width: 50%;
    margin: 0 auto 0 auto;
    margin-top: 50px;
}

.submitbtn {
	border-radius: 5px;
	background-color: #0537CC;
	color: white;
}

.submitbtn:hover {
	border-radius: 5px;
	background-color: #575FF2;
	color: white;
}

.dashboard {
	margin-top: 60px;
}

.dashboard-grid {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 60px;
	margin-top: 40px;
}

.footer{
	margin: 100px 0 20px 0;
}

.footer,.push {
	height: 20px;
}

.forms {
	margin-top: 40px;
}

.form-field {
	margin-top: 20px;
}

h3 {
	text-align: center;
	margin-bottom: 40px;
}

h5 {
	width: 250px;
	margin-right: 10px;
}

.cancelbtn {
	border-radius: 5px;
	background-color: #787778;
	color: white;
	margin-right: 10px;
}

.cancelbtn:hover {
	border-radius: 5px;
	background-color: black;
	color: white;
	margin-right: 10px;
}

.form-buttons {
	display: flex;
	margin-top: 40px;
	justify-content: center;
}

.statusbtn {
	border-radius: 20px;
	background-color: #0537CC;
	color: white;
	height: 18px;
	font-size: 12px;
	line-height: 0.25;
}

.fa{
	margin-right: 10px;
}

.alert {
	margin: 20px 0;
	border: none;
}

.alert-primary {
	background-color: #0537CC;
	color: white;
}

.alert-secondary {
	background-color: #787778;
	color: white;
}

.alert-success {
	background-color: #168039;
	color: white;
}

.alert-danger {
	background-color: #D93B3B;
	color: white;
}

.alert-warning {
	background-color: #FF8600;
	color: white;
}

.alert-info {
	background-color: #2F6073;
	color: white;
}

.modal-body {
	text-align: center;
}

.fa-check-circle {
	color: #168039;
	font-size: 84px !important;
	margin: 0 !important;
}